@{
    ViewData["Title"] = "My Podcasts";
}
@*includes a header and a link to external web site*@
<h1>@ViewData["Title"]</h1>

<a href="https://baconsale.com/" alt="the Baconsale site link">Go check the Baconsale site!</a>
